[submodule "hello-evm/lib/forge-std"]
	path = hello-evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hello-token/lib/forge-std"]
	path = hello-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
